
.form-control:focus {
    border-color: #000000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
  }

body {
    background: linear-gradient(270deg, #58ebc5, #ef5826);
    background-size: 400% 400%;

    -webkit-animation: GradientBack 20s ease infinite;
    -moz-animation: GradientBack 20s ease infinite;
    animation: GradientBack 20s ease infinite;
}

@-webkit-keyframes GradientBack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientBack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientBack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    font-family: 'Fira Code', monospace;
    width: 100%;
    height: 100%;
    font-size: 16px;
  }

  
  main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  p {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 3rem;
    background: linear-gradient(to bottom, #000, #000 60%,#fff 60%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.2s ease-out;
    white-space: nowrap;
  }
  
  span {
    position: relative;
  }
  
  span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
    background: #000;
    bottom: 9px;
    transition: all 0.2s ease-out;
  }
  
  p:hover {
    background-position: 0 11px;
  }
  
  .name_span:hover:before {
    transform: translateY(10px)
  }
  
